<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.studentpaldaemon" android:versionCode="1"
  android:versionName="0.0.1">
  <uses-sdk android:minSdkVersion="8" />

  <application android:icon="@drawable/icon" android:label="@string/mainapp_name">
    <service android:name=".app.DaemonService" android:label="@string/mainapp_name">
      <intent-filter>
 
        <action android:name="studentpal.daemon" />
        <category android:name="android.intent.category.DEFAULT" />
<!--      
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
 -->        
      </intent-filter>
    </service>

    <!-- -->
    <activity android:name=".test.TestActivity" android:label="@string/mainapp_name">
      <intent-filter>
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <action android:name="studentpal.daemon1" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <receiver android:name=".app.receiver.MyDeviceAdminReceiver"
      android:label="@string/device_admin_label" android:permission="android.permission.BIND_DEVICE_ADMIN">
      <meta-data android:name="android.app.device_admin"
        android:resource="@xml/device_admin_definition" />
      <intent-filter>
        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>