<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.studentpal" android:versionCode="1" android:versionName="0.0.1">

 <application android:icon="@drawable/icon" android:label="@string/mainapp_name">
  <activity android:name=".ui.LaunchScreen" android:label="@string/mainapp_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" /> 
   </intent-filter>
  </activity>

  <activity android:name=".ui.AccessRequestForm"></activity>
  <activity android:name=".ui.AccessDeniedNotification"></activity>
  <activity android:name=".ui.RequestFinishedNotification"></activity>

  <service android:name=".app.MainAppService"></service>

  <receiver android:name=".app.receiver.MyDeviceAdminReceiver"
   android:label="@string/device_admin_label" android:permission="android.permission.BIND_DEVICE_ADMIN">
   <meta-data android:name="android.app.device_admin"
    android:resource="@xml/device_admin_sample" />
   <intent-filter>
    <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
   </intent-filter>
  </receiver>

  <receiver android:name=".app.receiver.SystemStateReceiver">
   <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
   </intent-filter>
  </receiver>
 </application>

 <uses-sdk android:minSdkVersion="8" />
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 <uses-permission android:name="android.permission.RECEIVE_SMS" />
 <uses-permission android:name="android.permission.RECEIVE_MMS" />
 <uses-permission android:name="android.permission.SEND_SMS" />
 <uses-permission android:name="android.permission.READ_SMS" />
 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
 <uses-permission android:name="android.permission.WAKE_LOCK" />
 <uses-permission android:name="android.permission.RESTART_PACKAGES" />
 <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
 <uses-permission android:name="android.permission.GET_TASKS" />
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>

